adafruit-ampy==1.1.0
bitstring==4.2.1
cffi==1.16.0
click==8.1.7
cryptography==42.0.7
docopt==0.6.2
ecdsa==0.19.0
esptool==4.7.0
pyaes==1.6.1
pycparser==2.22
pyserial==3.5
python-dotenv==1.0.1
reedsolo==2.0.13
six==1.16.0
