adafruit-ampy==1.1.0
bitstring==4.1.2
cffi==1.16.0
click==8.1.7
cryptography==41.0.5
docopt==0.6.2
ecdsa==0.18.0
esptool==4.6.2
pyaes==1.6.1
pycparser==2.21
pyserial==3.5
python-dotenv==1.0.0
reedsolo==2.0.13
six==1.16.0
